<div class="width: 100%; position:relative;">
    <img style="float: left; padding-right: 10px; width: 200px" src="https://fligoo.com/img/logo-large.png">
    <div style="float: right; font-size: 32px; padding-top: 30px;">
        <b>Take Home - Data Engineer</b>
    </div>
</div>

# Real-time Flight Status
The AviationStack API was built to provide a simple way of accessing global aviation data for real-time and historical flights as well as allow customers to tap into an extensive data set of airline routes and other up-to-date aviation-related information. Requests to the REST API are made using a straightforward HTTP GET URL structure and responses are provided in lightweight JSON format. The objective of this project is to construct an ETL for a client in order to query information from the API, clean it, and store the results into a consumable database.

<img src="https://s3-us-west-2.amazonaws.com/fligoo.data-science/TechInterviews/RealTimeFlightStatus/header.jpg"/>

**Take-Home Goals**
- Navigate to https://aviationstack.com/ and create a key for the API and read the documentation to understand how it works. For this exercise, consider only `flight_status = active` and `limit = 100`. We are not interested in acquiring the entire information, just focus on:

```
- Flight date
- Flight status
- Departure
     - Airport
     - Timezone
- Arrival
     - Airport
     - Timezone
     - Terminal
- Airline
     - Name
- Flight
     - Number
```

- Build a docker with the services you think are necessary. The database and the table have to be created when running docker.

```
Database: testfligoo
Table: testdata
```
- Create a process in [Airflow](https://airflow.apache.org) that allows obtaining the information from the API.
- Replace the "/" of the `arrivalTerminal` and `departureTimezone` fields for " - ". E.g: "Asia/Shanghai" to "Asia - Shanghai"
- Insert the information in the database.
- Create a Jupyter notebook to consume the information stored in the database.
- Show the information in a Pandas dataframe
  
**Requirements**
- Python 3.x & Pandas 1.x
- Paying attention to the details and narrative is far way more important than extensive development.
- Once you complete the assessment, share the Git repository link.
- Have a final meeting with the team to discuss the work done in this notebook and answer the questions that could arise.
- Finally, but most important: Have fun!

**Nice to have aspects**
- Environment isolation.
- Code versioning with Git (you are free to publish it on your own Github/Bitbucket account!).
- Show proficiency in Python: By showing good practices in the structure and documentation, usage of several programming paradigms (e.g. imperative, OOP, functional), etc.

In [1]:

!pip install psycopg2-binary
import psycopg2
    
import pandas as pd
import pandas as pd
import psycopg2

class PostgresDataFetcher:
    def __init__(self):
        self.db_params = {
            "host": "postgres_db",
            "database": "testfligoo",
            "user": "fligoo",
            "password": "fligoo"
        }
        self.connection = None

    def connect(self):
        self.connection = psycopg2.connect(**self.db_params)

    def fetch_data(self, query):
        if self.connection is None:
            self.connect()
        df = pd.read_sql_query(query, self.connection)
        return df

    def close_connection(self):
        if self.connection is not None:
            self.connection.close()
            self.connection = None

# Using the class to fetch data from PostgreSQL
db_fetcher = PostgresDataFetcher()
query = "SELECT * FROM testdata;"
data_frame = db_fetcher.fetch_data(query)
db_fetcher.close_connection()

# Print the DataFrame
print(data_frame)

/tmp/ipykernel_534/1000437179.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,flight_date,flight_status,departure.airport,departure.timezone,arrival.airport,arrival.timezone,arrival.terminal,airline.name,flight.number
0,2024-01-27,active,Melbourne - Tullamarine Airport,Australia/Melbourne,Kuala Lumpur International Airport (klia),Asia/Kuala_Lumpur,1,Malaysia Airlines,128
1,2024-01-27,active,Melbourne - Tullamarine Airport,Australia/Melbourne,Kuala Lumpur International Airport (klia),Asia/Kuala_Lumpur,1,SriLankan Airlines,2328
2,2024-01-27,active,Melbourne - Tullamarine Airport,Australia/Melbourne,Kuala Lumpur International Airport (klia),Asia/Kuala_Lumpur,1,Oman Air,5554
3,2024-01-27,active,Melbourne - Tullamarine Airport,Australia/Melbourne,Kuala Lumpur International Airport (klia),Asia/Kuala_Lumpur,1,Myanmar Airways International,9593
4,2024-01-27,active,Melbourne - Tullamarine Airport,Australia/Melbourne,Kuala Lumpur International Airport (klia),Asia/Kuala_Lumpur,1,Firefly,7146
...,...,...,...,...,...,...,...,...,...
95,2024-01-26,active,Oliver Reginald Tambo International (Jan Smuts...,Africa/Johannesburg,George,Africa/Johannesburg,B,Qatar Airways,5695
96,2024-01-26,active,Oliver Reginald Tambo International (Jan Smuts...,Africa/Johannesburg,George,Africa/Johannesburg,B,British Airways,6256
97,2024-01-26,active,Oliver Reginald Tambo International (Jan Smuts...,Africa/Johannesburg,George,Africa/Johannesburg,B,South African Airlink,693
98,2024-01-26,active,Oliver Reginald Tambo International (Jan Smuts...,Africa/Johannesburg,Kasane,Africa/Gaborone,A,Emirates,4107
99,2024-01-26,active,Oliver Reginald Tambo International (Jan Smuts...,Africa/Johannesburg,Kasane,Africa/Gaborone,A,Qatar Airways,5762